.App {
  margin: 0;
  text-align: center;
  background-color: white;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0078b8;
  height: 50px;
  width: vw;
}

.topnav img {
  height: 100%;
  float: left;
}

.topnav button {
  height: 100%;
  width: 12%;
  background-color: transparent;
  padding-top: 6px;
  text-align: center;
  float: left;
}

.normal {
  color: grey;
}
.active {
  color: white;
  background-color: #333;
  font-weight: 600;
}
.Button {
  background-color: #0078b8 !important ;
}
.ButtonGroup {
  background-color: #0078b8 !important ;
}
.MuiAppBar-root {
  background-color: #0078b8 !important;
}

.twoColumns {
  display: flex;
}

.leftColumn{
  width: 30%;
  margin: 20px 3% 20px 3%;
  padding: 5px 2% 5px 2%;
  text-align: center;
  border-style: solid;
  border-color: #EDEDED;
  border-radius: 5px;
}
.rightColumn{
  width: 65%;
}

