.App {
  margin: 0;
  text-align: center;
}

.about{
  height: 750px;
  background-color: white;
  background-image: url(Images/logo.png);
}

.ba{
  height: 500px;
  background-color: #FFF7DF;
}

.ta{
  height: 500px;
  background-color: #FFE5D6;
}

.tc{
  height: 500px;
  background-color:#FEDEDC;
}

.ni{
  height: 500px;
  background-color: #FFE2F3 ;
}

.zi{
  height: 500px;
  background-color:#F5DBFF;
}

.bb{
  height: 500px;
  background-color:#E5F7FF;
}

.po{
  height: 500px;
  background-color:#E6EAFF;
}

.ke{
  height: 500px;
  background-color:#E2FFDE;
}
