.App {
  margin: 0;
  text-align: center;
}

.about{
  height: 500px;
  background-color: white;
}

.ba{
  height: 500px;
  background-color: lightyellow;
}

.ta{
  height: 500px;
  background-color: lightsalmon;
}

.tc{
  height: 500px;
  background-color:tomato;
}

.ni{
  height: 500px;
  background-color: lightpink;
}

.zi{
  height: 500px;
  background-color: plum;
}

.bb{
  height: 500px;
  background-color:lightskyblue;
}

.po{
  height: 500px;
  background-color:lightblue;
}

.ke{
  height: 500px;
  background-color: lightgreen;
}